header{
    @include flex-column(column,center,center);

    .logo{
        margin: $small_space 0px;
    }

    .nav{

        ul{
            list-style-type: none;

            li{
                display: inline-block;
                margin: $small_space 0px;
                font-size: $font_size;
                font-weight: 300;
                color: $color_base;

                a{
                    text-decoration: none;
                    padding: $small_space $big_space ;

                    &.active{
                        background-color: $color_hover;
                        color: #444444;
                    }

                    &:hover{
                        background-color: $color_hover;
                        color: #444444;
                    }
                }
            }
        }
    }
}
