#home, #news{
    height: 600px;
    background-image: url("../images/sfondo.jpg");
    margin-bottom: $big_space;

    h1{
        color: $color_base;
        font-size: 30px;
        text-align: center;
        padding-top: 30px;
    }
}


#prodotti{
    background-image: url("../images/sfondo.jpg");
    margin-bottom: $big_space;

    h3{
        text-transform: uppercase;
        color: $color_base;
        padding: 25px 0px;
        font-size: 30px;
        margin-left: $big_space;
    }

    .card-container{
        display: flex;
        flex-wrap: wrap;

        .card{
            width: calc(100% / 3 - 40px);
            height: 197.4px;
            position: relative;
            margin: $big_space;

            img{
                max-width: 100%;
            }

            .overlay{
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                a{
                    color: $color_base;
                    font-size: 22px;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                }

            }

            &:hover .overlay{
                display: block;
                background-color: rgba(255, 255, 255, 0.6);
            }
        }
    }

}

#pagina_dettagli{
    margin-bottom: 30px;
    position: relative;

    .freccia-left, .freccia-right{
        position: absolute;
        font-size: $font_size;
        color: $color_base_light;
        padding: $big_space;
        background-color: rgba(0, 45, 115, 0.3);

        i{
            cursor: pointer;

            &:active, &:hover{
                color: $color_base;
            }
        }
    }

    .freccia-left{
        top: 50%;
        left: 0;
        position: fixed;
    }

    .freccia-right{
        top: 50%;
        right: 0;
        position: fixed;
    }

    .titolo-prodotto{
        background-color: #b8dae4;
        margin-bottom: 2px;

        h1{
            text-align: center;
            color: $color_base_light;
            font-size: 30px;
            font-weight: 400;
        }
    }

    img{
        max-width: 100%;
        display: block;
    }

    .descrizione{
        background-color: #b8dae4;

        table{
            overflow: hidden;
            margin: 0;
            padding: 0;
            width: 100%;
            border-collapse: collapse;
            text-align: center;
            border-radius: 3px;
            border-bottom: 1px solid $color_base;
            margin-bottom: $big_space;


            td{
                padding: 12px;
                border-bottom: 1px solid $color_base;
                text-align: center;
                border-right: 1px solid $color_base;
                color: $color_base_light;
                text-transform: uppercase;
                font-size: 40px;
                font-weight: 400;

                &:last-child{
                    border-right: none;
                }

                img{
                    display: inline-block;
                }
            }
        }

        p{
            font-family: 'Playfair Display', serif;
            font-size: 24px;
            color: $color_base_light;
            line-height: 1.8;
        }
    }
}
